<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Comaptible" content="IE-edge">
        <meta name="viewport" content="width-device-width, intial-scaler=1.0">
        <title> PATEINT REGISTRATION </title>
        <link rel="stylesheet" href="css/styleS.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        
        </head>
<body>
    <div class="container">
    <div class= "box">
        <div class ="plog">
        <div class ="log">
            <i class="fa-solid fa-paper-plane"></i>
            <h2>WELCOME</h2>
            <div class ="namec">  TO THE MEDICO WEB CARE</div>
            <div class ="pbtn l"><a href="loginP"><button type="submit" class="btn-form">LOGIN</button></a></div>

        </div>
        </div>
        
        <div class ="reg">
            <div class ="reg-box">
            <H1>REGISTRATION PAGE</H1>
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="pname">NAME </label>
                    <input type="text" class="form-control" id="P-NAME" placeholder=" NAME" name="name">
                  </div>
                  <div class="form-group">
                    <label for="pname">email </label>
                    <input type="email" class="form-control" id="P-NAME" placeholder=" NAME" name="email">
                  </div>
                  <div class="form-group">
                    <label for="dob"> DATE OF BIRTH</label>
                    <input type="date" class="form-control" id="birth" placeholder=" DATE OF BIRTH" name="date">
                  </div>
                
                
                <div class="form-group">
                    <label for="Password">PASSWORD</label>
                    <input type="password" class="form-control" id="P-PASSWORD" placeholder=" PASSWORD" name="password">
                  </div>
                  <div class ="pbtn"><button type="submit" class="btn-form">Register</button></div>
            </form>
            </div> 
                  

        </div>
    </div>
    </div>

</body>
</html>